{{name}}
<label class='preference-radio-inline'>
    <input class={{_id}} type='radio' value='Yes' {{checked 'Yes' response}}> Yes
</label>
<label class='preference-radio-inline'>
    <input class={{_id}} type='radio' value='No' {{checked 'No' response}}> No
</label>
<label class='preference-radio-inline'>
    <input class={{_id}} type='radio' value="Don't Care" {{checked "Don't Care" response}}> Don't Care
</label>