<div>
{{description}}
<label class='preference-radio-inline'>
    <input type='radio' class='{{_id}}' value='Yes' {{checked 'Yes' response}}> Yes
</label>
<label class='preference-radio-inline'>
    <input type='radio' class='{{_id}}' value='No' {{checked 'No' response}}> No
</label>
<label class='preference-radio-inline'>
    <input type='radio' class='{{_id}}' value="Don't Care" {{checked "Don't Care" response}}> Don't Care
</label>
</div>