{{! Author: Peinan}}

<div>
	<span class='space'>{{description}}</span>

	<div class='btn-group' role='group'>
		<button type='button' id='{{_id}}' class='preference btn {{checked 'Yes' response}}' value='Yes' >Yes</button>
    <button type='button' id='{{_id}}' class='preference btn {{checked 'No' response}}' value='No'>No</button>
    <button type='button' id='{{_id}}' class='preference btn {{checked "Don't Care" response}}' value="Don't Care">Don't Care</button>
  </div>
</div><br>