{{name}}
<label class='radio-inline'>
    <input type='radio' id={{_id}} value='Yes' {{checked 'Yes' response}}> Yes
</label>
<label class='radio-inline'>
    <input type='radio' id={{_id}} value='No' {{checked 'No' response}}> No
</label>
<label class='radio-inline'>
    <input type='radio' id={{_id}} value="Don't Care" {{checked "Don't Care" response}}> Don't Care
</label>