{{! Author: Peinan}}

<h1> {{user.name}} </h1>
<h3> {{user.email}} </h3>

<br>

{{#if areRoommates}}
    <button class='btn btn-default leave-group' value={{user._id}} type='button'>Leave Group</button>
{{/if}}
{{#if user.available}}
    <div id='request-box'></div>
    <br><br>
    <h4>Available: Yes </h4>
{{else}}
    <h4>Available: No </h4>
{{/if}}

<br>

<h4>Roommates: </h4>
{{#each user.roommates}}
  <div><a value={{_id}} class='user-profile' href='#'> {{name}} </a></div>
{{/each}}
<br>

<h4>Preferences: </h4>
{{#each user.preferences}}
    {{description}} <b>{{response}}</b> <br>
{{/each}}