<h1> {{user.name}} </h1>
<h3> {{user.email}} </h3>

<br>

{{#if user.available}}
	{{#if requested}}
		<button id='request-roommate' user={{user._id}} type='button' class='btn disabled'>Request Sent</button>
	{{else}}
		<button id='request-roommate' user={{user._id}} type='button' class='btn btn-primary'>Request Roommate</button>
	{{/if}}
	<br><br>
	<h4>Available: Yes </h4>
{{else}}
    <h4>Available: No </h4>
{{/if}}

<br>

<h4>Roommates: </h4>
{{#each user.roommates}}
    <a id={{_id}}> {{name}} </a>
{{/each}}

<br>

<h4>Preferences: </h4>
{{#each user.preferences}}
    {{description}} {{response}}
{{/each}}