<h1> {{user.name}} </h1>
<h3> {{user.email}} </h3>

<br>

{{#if areRoommates}}
	<button class='btn btn-default cancel-roommate' value='{{user._id}}' type='button' class='btn btn-primary'>Cancel Roommate</button>
{{else}}
	{{#if user.available}}
		{{#if requested}}
			<button class='btn btn-primary disabled' value='{{user._id}}' type='button' class='btn disabled'>Request Sent</button>
		{{else}}
			<button class='btn btn-primary request-roommate' value='{{user._id}}' type='button' class='btn btn-primary'>Request Roommate</button>
		{{/if}}
		<br><br>
		<h4>Available: Yes </h4>
	{{else}}
	    <h4>Available: No </h4>
	{{/if}}
{{/if}}

<br>

<h4>Roommates: </h4>
{{#each roommates}}
  <div><a value='{{_id}}' class='link' href='#'> {{name}} </a></div>
{{/each}}
<br>

<h4>Preferences: </h4>
{{#each user.preferences}}
    {{description}}. <b>{{response}}</b> <br>
{{/each}}