<h1> Requests </h1><br>

<h3> From others: </h3><br>
{{#each requestsToUser}}
  <div>
	  <span class='requestuser'><a value='{{_id}}' class='link' href='#'>{{name}}</a></span>
	  <button class='btn btn-primary' class='confirm' value='{{_id}}' type='button'>Confirm</button>
	  <button class='btn btn-default' class='deny' value='{{_id}}' type='button'>Deny</button>
  </div>
{{/each}}

<h3> From you: </h3><br>
{{#each requestsFromUser}}
	<div>
		<span class='requestuser'><a value='{{_id}}' class='link' href='#'>{{name}}</a></span>
		<button class='btn btn-default' class="cancel" value='{{_id}}' type="button">Cancel</button>
	</div>
{{/each}}