<h1> Requests </h1><br>

<h3> From others: </h3><br>
{{#each requestsToUser}}
  <div>
	  <span id='requestuser'><a user={{_id}} id='link'>{{name}}</a></span>
	  <button class='btn btn-primary' id='confirm' user={{_id}} type='button'>Confirm</button>
	  <button class='btn btn-default' id='deny' user={{_id}} type='button'>Deny</button>
  </div>
{{/each}}

<h3> From you: </h3><br>
{{#each requestsFromUser}}
	<div>
		<span id='requestuser'><a user={{_id}} id='link'>{{name}}</a></span>
		<button class='btn btn-default' id="cancel" user={{_id}} type="button">Cancel</button>
	</div>
{{/each}}