{{! Author: Rujia}}

<h1> Requests </h1><br>

<h3> From others: </h3><br>
{{#each requestsToUser}}
  <div request-id={{_id}} user-id={{from._id}}>
	  <span class='requestuser'><a value='{{from._id}}' class='user-profile' href='#'>{{from.name}}</a></span>
	  <button class='btn btn-primary confirm' type='button'>Confirm</button>
	  <button class='btn btn-default deny' type='button'>Deny</button>
  </div><br>
{{/each}}

<h3> From you: </h3><br>
{{#each requestsFromUser}}
	<div request-id={{_id}} user-id={{to._id}}>
		<span class='requestuser'><a value='{{to._id}}' class='user-profile' href='#'>{{to.name}}</a></span>
		<button class='btn btn-default cancel' type='button'>Cancel</button>
	</div><br>
{{/each}}