<h1> Requests </h1><br>

<h3> From others: </h3><br>
{{#each requestsToUser}}
  <div id={{_id}}>
	  <span id='requestuser'><a id={{_id}}>{{name}}</a></span>
	  <button class='btn btn-primary' id='confirm' type='button'>Confirm</button>
	  <button class='btn btn-default' id='deny' type='button'>Deny</button>
  </div>
{{/each}}

<h3> From you: </h3><br>
{{#each requestsFromUser}}
	{{!TODO: fix link!}}
	<div id={{_id}}>
		<span id='requestuser'><a id={{_id}}>{{name}}</a></span>
		<button class='btn btn-default' id="cancel" type="button">Cancel</button>
	</div>
{{/each}}